<h1>Add a new band.</h1>
<form action="<%= bands_url %>" method="post">
  <input
    type="hidden"
    name="authenticity_token"
    value="<%=form_authenticity_token%>">

  <label for="name">Band Name: </label>
  <input
    type="text"
    name="band[name]"
    id="name"
    value="<%=@band.name%>">

  <input type="submit">

</form>


## button to editing band info
## destroy band
